{% extends 'base.html' %}
{% load static %}
	{% block title %}Login{% endblock %}
	{% block stylesheets %}
		{{ block.super }}
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
	{% endblock %}
	{% block content %}
		<div class = "container">
			<!-- <h2>Login</h2> -->


			<!-- <form method="post">
			  {% csrf_token %}
			  {{ form.as_p }}
			  <button type="submit">Login</button>
			</form>
 -->
			<div class="login-page">
				  <div class = "dbpedia">
				  	Login
				  </div>
				  <div class="form">
					{% if messages %}
					    {% for message in messages %}
					            <div class="error">
					                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}> <span>{% if message.tags %} {{ message.tags }}:{% endif %}</span>  {{ message }}</div>
					            </div>
					        
					    {% endfor %}
					{% endif %}

				   	 <form  class="login-form" method = "POST">
					      {% csrf_token %}
					      <input type="text" placeholder="Enter Username" name = 'username'/>
					      <input type="password" placeholder="Enter Password" name = 'password'/>
					      <button type = "submit" >login</button>

				      </form>
				  </div>
			</div>

		</div>
	{% endblock %}