{% load static %}
{% regroup object_list by committee as image_list %}

<ul>
{% for committee, images in image_list %}
    <li>{{ committee }}
    <ul>
    	
        {% for image in images|slice:":4" %}
          	
          	<li><img src='{{ image.get_med_thumbnail }}' class="landscape" /></li>
        	
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>