{% extends 'base.html' %}
{% load static %}

{% block title %}Gallery{% endblock %}
{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  
{% endblock %}
{% block content %}

	{% include "includes/navbar.html" %}  
	
	<div class="container gallery-container space_top top_border">
		
		<div class = "news_title padding-2">
			<form action = "#" class = "space_top padding-2" method = "POST">
				<div class="row form-group">
					 {% csrf_token %}
					<div class = "col-md-3">
					</div>
					<div class = "col-md-6">
						 <div class="styled-select slate floatleft space_right"> 
							 	<select name="committee" >
				  					{% for committee in committee_list %}
				  						{% if committee.id == committee_id %}
				  							<option value="{{committee.id}}" selected>{{ committee.name }}</option>
				  						{% else %}
				  							<option value="{{committee.id}}">{{ committee.name }} </option>
				  						{% endif %}\

				  					{% endfor %}
			  					</select>
			  			</div>
						<button type="submit" class=" space_margin_left floatleft btm-select">Select Committee</button>
			  		</div>
					
				</div>
			</form>
		</div>
		<div class = "tz-gallery">
			<div class="row">
        
				{% for image in image_list %}
					<div class="col-sm-6 col-md-4">
		                <a class="lightbox" href='{{ image.get_large_thumbnail }}'>
		                    <img src='{{ image.get_med_thumbnail }}' >
		                </a>
            		</div>
				{% endfor %}
			</div>
		</div>
	</div>

	

	
	{% include "includes/footer.html" %}

{% endblock %}

{% block scripts %}
{{ block.super }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
	<script>
    	baguetteBox.run('.tz-gallery');
	</script>

{% endblock %}