.header_white{
    background-color: #f8f8f8;
    /*margin-left : 10px;*/
    padding-left: 20px;
    /*padding-top: 5px;*/
    padding-bottom: 5px;
}
.header-img{
  height : 60px;
  padding-bottom: 5px;
}
.padding-left-0{
  padding-left: 0 !important;
}
.padding-top-bottom-2{
    padding-top: 0px !important;
    padding-bottom: 0px !important;

}
.title_text{
    font-size: 35px;
    color : #cd5138 !important;
    padding: 10px;
}
.bg-red{
	    background-color: #cd5138;
}
.color-red{
	color : #cd5138;
}
.color-white{
	color : #ffffff;
}
.bg-black{
	background-color : #565454;

}
.padding-2{
	padding: 2px;
}
.small{
	height : 50px;
	width : 80px;
}10px
.left_side_space{
	margin-left : 20px;
}
.space_left {
	padding-left : 6%;
}
.space_right{
	padding-right: 20px;
}
.space_margin_left{
	margin-left:20px;
}
.space_top{
	margin-top : 40px;
}
.space_top_mini{
	margin-top : 20px;
}
.space_bottom{
	padding-bottom: 30px;
}
#bg img {
	width : 100%;
	height: 450px;
}

.divcircle{
	border-radius: 100px;
}
.imagepresident{
	height : 150px;
	width : 150px;
	margin-top : -20px;
	border : 2px solid #cd5138;
	
}
.president_border{
  border-right: 2px solid #cd5138 !important;
  
}
.border-right{
	border-right: 1px solid #cd5138 !important;
	border-left : 1px solid #cd5138 !important;
}
.border-lefft{
  
}
.pdf_border{
  /*border : 1px solid #5d5d5d;*/
  border-top : 3px solid #cd5138;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 15%;
  margin-right : 15%;
  background-color: #f2f2f2;
}
.details{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align : center;
}
.btm-select{
    background-color: #c5613a;
    border: none;
    color: white;
    padding: 8px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     color : #ffffff;
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #ff4836;
 }
 #social-em:hover {
     color: #f39c12;
 }

 .white{
 	color : white;
 }
 .white:hover{
 	color : white;
 }

 .news_content{
 	text-align: justify;
  line-height: 1.6;
 }
 .news_title{
 	text-align : center;
 }


 .styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.floatleft{
	float : left;
}
.message_presi_title{
  font-weight: bold;
}
.message_presi{
  text-align: justify;
  line-height: 1.6;
}

.hidden_content{
  display: none;
}
.content{
  display: block;
}

.content_text{
  line-height: 1.6;
  text-align : justify;
}
.resource_details{
  margin-top: 10px;
  margin-bottom: 20px;
  color : #cd5138;
}
.news_wrapper{
  margin-bottom: 20px;
  margin-top : 10px;
  /*margin : 10px;*/
  padding : 10px;
  /*border : 1px solid #cd5138;*/
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left : 3px solid #cd5138;
  background-color: #f8f8f8;
}
.list_container{
  padding: 10px;
}
.read_more{
  color : #cd5138;
  cursor : pointer;
}


.top_border{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top : 5px solid #cd5138;
}