@import url(https://fonts.googleapis.com/css?family=Poppins:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;

}
.register-page {
  width: 360px;
  padding: 0 0 0;
  margin: auto;

}

.greater_width{

  width: 600px;

}
.greater_max_width{
    max-width: 600px;
}
.error{
  color : #cd5138;
}
.dbpedia{
  text-align: center;
  font-size: 40px;
  font-weight: 1000;
  color : #FFFFFF;
  background: #cd5138;
  border : 3px solid #cd5138;
  border-radius : 15px;
  border-bottom-style : none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.form {
  position: relative;
  z-index: 1;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #ffffff, #fefefe);
  background: -moz-linear-gradient(right, #ffffff, #fefefe);
  background: -o-linear-gradient(right, #ffffff, #fefefe);
  background: linear-gradient(to left, #ffffff, #fefefe);

  /*max-width: 360px;*/
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border : 3px solid #cd5138;
  border-radius : 15px;
  border-top-style : none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Poppins", sans-serif;
    outline: 0;
    background: #ffffff;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    border: 2px solid #cd5138;
    border-radius: 10px;
}
.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #898989;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #898989;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #ffffff, #fafafa);
  background: -moz-linear-gradient(right, #ffffff, #fafafa);
  background: -o-linear-gradient(right, #ffffff, #fafafa);
  background: linear-gradient(to left, #ffffff, #fafafa);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

