{% extends 'base.html' %}
{% load static %}

{% block title %}Reports{% endblock %}
{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  
{% endblock %}
{% block content %}

	{% include "includes/navbar.html" %}  
	
	<div class="container gallery-container space_top top_border">
		
		<div class = "news_title padding-2">
			<form action = "#" class = "space_top padding-2" method = "POST">
				<div class="row form-group">
					 {% csrf_token %}
					<div class = "col-md-3">
					</div>
					<div class = "col-md-6">
						 <div class="styled-select slate floatleft space_right"> 
							 	<select name="committee" >
				  					{% for committee in committee_list %}
				  						{% if committee.id == committee_id %}
				  							<option value="{{committee.id}}" selected>{{ committee.name }}</option>
				  						{% else %}
				  							<option value="{{committee.id}}">{{ committee.name }} </option>
				  						{% endif %}\

				  					{% endfor %}
			  					</select>
			  			</div>
						<button type="submit" class=" space_margin_left floatleft btm-select">Select Committee</button>
			  		</div>
					
				</div>
			</form>
		</div>

		<div class = "row">
			{% for pdf in pdf_list %}
				<div class = "col-md-3 col-sm-6 space_top_mini ">
					<div class = "pdf_border">
			     		<div class = "small_title news_title">
			     			<h5>
			     				{{ pdf.name }}
			     			</h5>
			     		</div>
			     		<div class = 'pdf_link news_title'>
			     			<a href = "{{ pdf.pdf.url }}"><img src = "{% static 'images/pdf_icon.png' %}" alt = "{{ pdf.pdf.filename }}"/></a>
			     		</div>
			     	</div>
	     		</div>	
			{% endfor %}
		</div>
					

	</div>

	

	
	{% include "includes/footer.html" %}

{% endblock %}

{% block scripts %}
{{ block.super }}
	

{% endblock %}