{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-red fixed-top padding-left-0  padding-top-bottom-2">
      <div class="container-fluid padding-left-0">
        <div class = 'header_white'>
          <img src="{% static 'images/student_flag_small.png' %}" class="header-img" alt="Cinque Terre">
            <a class=" navbar-brand left_side_space title_text" href="#">अखिल (क्रान्तिकारी)</a>
          </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home:home' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'committee:resource_list' %}">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pdf:pdf_list' %}">Notices</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery:new_image_list' %}">Gallery</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                
                <a class ="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Register</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
</nav>