{% extends 'base.html' %}
{% load static %}

{% block title %}News{% endblock %}
{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  
{% endblock %}
{% block content %}

	{% include "includes/navbar.html" %}  
	
	<div class="container gallery-container space_top top_border">
		
		<div class = "news_title padding-2">
			<form action = "#" class = "space_top padding-2" method = "POST">
				<div class="row form-group">
					 {% csrf_token %}
					<div class = "col-md-3">
					</div>
					<div class = "col-md-6">
						 <div class="styled-select slate floatleft space_right"> 
							 	<select name="committee" >
				  					{% for committee in committee_list %}
				  						{% if committee.id == committee_id %}
				  							<option value="{{committee.id}}" selected>{{ committee.name }}</option>
				  						{% else %}
				  							<option value="{{committee.id}}">{{ committee.name }} </option>
				  						{% endif %}\

				  					{% endfor %}
			  					</select>
			  			</div>
						<button type="submit" class=" space_margin_left floatleft btm-select">Select Committee</button>
			  		</div>
					
				</div>
			</form>
		</div>

		<div class = "list_container">
			{% for resource in resource_list %}
			<div class = "news_wrapper">
				<h2 class = "news_title"> {{ resource.title }}</h2>
				<div class =018, 4 a.m. " news_title resource_details">
					{{ resource.date_created }}
				</div>

				<input type="hidden" class="toggle" />
				<hr/>
				<div class = "content content_text">
					{{ resource.content|safe|truncatewords:70 }}

					<!-- <span id="demo" class = "collapse">This si the the additional content we were talking about.</span><span data-toggle="collapse" data-target="#demo" >Read More...</span> 
	 -->
				</div>
				<div class = "hidden_content content_text">
					{{ resource.content|safe }}
				</div>
				<span class = "read_more"> Read More </span>
			</div>
			{% endfor %}
		</div>
		
	</div>

	

	
	{% include "includes/footer.html" %}

{% endblock %}

{% block scripts %}
{{ block.super }}
	
<script>
	$(document).ready(function(){
		$('.toggle').val("1");
		$('.read_more').click(function(){
			debugger;
			if ($(this).siblings(".toggle").val() == "1"){
				$(this).siblings(".content").hide();

				$(this).siblings(".hidden_content").show();
				$(this)[0].innerHTML = "Read Less";
				$(this).siblings(".toggle").val("0");
			}else{
				$(this).siblings(".content").show();

				$(this).siblings(".hidden_content").hide();
				$(this)[0].innerHTML = "Read More";
				$(this).siblings(".toggle").val("1");
			
			}
		})
	});
</script>
{% endblock %}