{% regroup object_list by committee as resource_list %}

<ul>
{% for committee, resources in resource_list %}
    <li>{{ committee }}
    <ul>
        {% for resource in resources %}
          <li><a href="{{resource.get_absolute_url}}">{{ resource.title }}</a>: {{ resource.content |safe}}</li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
