{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block content %}

	{% include "includes/navbar.html" %}  
	<div class="container gallery-container">
		<div id="bg">
	  		<img src="{% static 'images/raising_hands.jpg' %}" alt="">
		</div>
	      <div class="row space_top">
	        <div class="col-md-6 col-sm-12 president_border">
					<div class = "row">
			          <div class = "col-md-4 col-sm-12">
			          	<img class="divcircle imagepresident" src="{% static 'images/prachanda.jpg' %}" alt=""></a>
			          </div>
			          <div class="col-md-8 col-sm-12">
			            
			            <div class="">
			              <h4 class="message_presi_title">
			                Message From President
			              </h4>
			              <p class="message_presi ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
			            </div>
			          </div>
			        </div>
	        </div>
	        
	        <div class="col-md-6 col-sm-12">
				<div class = "row">
			          <div class = "col-md-4 col-sm-12">
			          	<img class="divcircle imagepresident" src="{% static 'images/prachanda.jpg' %}" alt=""></a>
			          </div>
			          <div class="col-md-8 col-sm-12">
			            
			            <div class="">
			              <h4 class="message_presi_title">
			                Message From President
			              </h4>
			              <p class="message_presi ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna variThe government on Friday sent a letter to the election body, asking it to start preparations for the local polls. The EC meeting on the same day decided that the letter lacked clarity on the date and whether the elections would be held for the old or a new structure of the local bodies.
			              </p>
			            </div>
			          </div>
			        </div>	
	        </div>

	      </div>
	     	<div class = "title space_top bg-black padding-2 color-white news_title mes">
	     		<h3>
	     			Latest Reports
	     		</h3>
	     	</div>
	     <div class = "row space_top">
	     	{% for pdf in reports|slice:":4" %}
	     		<div class = "col-md-3 col-sm-6 border-right">
		     		<div class = "small_title news_title">
		     			<h5>
		     				{{ pdf.name }}
		     			</h5>
		     		</div>
		     		<div class = 'pdf_link news_title'>
		     			<a href = "{{ pdf.pdf.url }}"><img src = "{% static 'images/pdf_icon.png' %}" alt = "{{ pdf.pdf.filename }}"/></a>
		     		</div>
	     		</div>	
	     	{% endfor %}
	     	<!-- <div class = "col-md-3 col-sm-6 border-right">
	     		<div class = "small_title news_title">
	     			<h5>
	     				Sample Report
	     			</h5>
	     		</div>
	     		<div class = 'pdf_link news_title'>
	     			<a href = "#"><img src = "{% static 'images/pdf_icon.png' %}" /></a>
	     		</div>
	     	</div>
	     	<div class = "col-md-3 col-sm-6 border-right">
	     		<div class = "small_title news_title">
	     			<h5>
	     				Sample Report
	     			</h5>
	     		</div>
	     		<div class = 'pdf_link news_title'>
	     			<a href = "#"><img src = "{% static 'images/pdf_icon.png' %}" /></a>
	     		</div>
	     	</div>
	     	<div class = "col-md-3 col-sm-6 border-right">
	     		<div class = "small_title news_title">
	     			<h5>
	     				Sample Report
	     			</h5>
	     		</div>
	     		<div class = 'pdf_link news_title'>
	     			<a href = "#"><img src = "{% static 'images/pdf_icon.png' %}" /></a>
	     		</div>
	     	</div>
	     	<div class = "col-md-3 col-sm-6">
	     		<div class = "small_title news_title">
	     			<h5>
	     				Sample Report
	     			</h5>
	     		</div>
	     		<div class = 'pdf_link news_title'>
	     			<a href = "#"><img src = "{% static 'images/pdf_icon.png' %}" /></a>
	     		</div>
	     	</div>
 -->
	     </div>
	    <div class = "title space_top news_title bg-black padding-2 color-white">
	     		<h3>
	     			Latest News
	     		</h3>
	     	</div>
	     <div class = "row space_top space_bottom">
	     	{% for article in news|slice:":4" %}
	     		<div class = "col-md-3 col-sm-6 border-right ">
		     		<div class = "small_title news_title">
		     			<h5>
		     				{{ article.title }}
		     			</h5>
		     		</div>
		     		<div class = "details">
		     			News of {{ article.committee.name }} published at {{ article.date_created }}
		     		</div>
		     		<div class = 'news_content'>
		     			{{ article.content|safe|truncatewords:40 }}

		     			<a herf = "{{article.get_absolute_url}}"><span class = "color-red">Read More</span></a>
		     		</div>
	     		</div>
	     	{% endfor %}

	     	<!-- <div class = "col-md-3 col-sm-6 border-right ">
	     		<div class = "small_title news_title">
	     			<h5>
	     				Sample News
	     			</h5>
	     		</div>
	     		<div class = 'news_content'>
	     			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odi Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
	     			<a herf = "#"><span class = "color-red">Read More</span></a>
	     		</div>
	     	</div>
	     	<div class = "col-md-3 col-sm-6 border-right">
	     		<div class = "small_title news_title">
	     			<h5>
	     				Sample News
	     			</h5>
	     		</div>
	     		<div class = 'news_content'>
	     			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odi Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
	     			<a href = "#"><span class = "color-red">Read More</span></a>
	     		</div>
	     	</div>
	     	<div class = "col-md-3 col-sm-6 border-right ">
	     		<div class = "small_title news_title">
	     			<h5>
	     				Sample News
	     			</h5>
	     		</div>
	     		<div class = 'news_content'>
	     			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odi Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,<a href="#"><span class = "color-red">Read More</span></a>
	     		</div>
	     	</div>
	     	<div class = "col-md-3 col-sm-6 ">
	     		<div class = "small_title news_title">
	     			<h5>
	     				Sample News
	     			</h5>
	     		</div>
	     		<div class = 'news_content'>
	     			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odi Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,
	     			<a href = "#"><span class = "color-red">Read More</span></a>
	     		</div>
	     	</div>
 -->
	     </div>
		
    </div>
    {% include "includes/footer.html" %}  
	
{% endblock %}