{% extends 'base.html' %}

{% load static %}
	{% block title %}Sign Up{% endblock %}
	{% block stylesheets %}
		{{ block.super }}
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
	{% endblock %}
{% block content %}
	 <!--  <h2>Sign up</h2>
	  <form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">Sign up</button>
	  </form> -->

  	<div class="register-page greater_width">
				  <div class = "dbpedia">
				  	Register
				  </div>
				  <div class="form greater_max_width">
					  	 <form  class="login-form" method = "POST">
					 
    						{% csrf_token %}
						  	 <input type="text" placeholder="Enter Username" name = 'username' autofocus required id="id_username" maxlength="150"/>
						  	 <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
						  	 <input type="text" placeholder = "Enter First Name" name="first_name" id="id_first_name" maxlength="30" />
						  	 <input type="text" name="last_name" id="id_last_name" maxlength="30" placeholder = "Enter Last Name" />
						  	 <input type="password" name="password1" required id="id_password1" placeholder="Enter Password" /> 

						  	 <span class="helptext">
						  	 	<ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul>
						  	 </span>
						  	 <input type="password" name="password2" required id="id_password2" placeholder="Re-Enter The Password" /> 

						  	 <span class="helptext">Enter the same password as before, for verification.</span>

						  	 <input type="email" name="email" id="id_email" maxlength="254" placeholder="Enter Email Address" />

						  	 <input type="text" name="educational_institude" id="id_educational_institude" maxlength="300" placeholder="Enter Educational Institute" />
				  			 <input type="text" name="date_of_issue" required id="id_date_of_issue" placeholder="Enter Date Of Issue" />
				  			 <button type = "submit" >login</button>

				  		</form>
				  </div>
	</div>

{% endblock %}